/* 1. Aplicamos el fondo al BODY o un contenedor maestro para que nunca se acabe */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url("../imagenes/Peces.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Esto evita el fondo blanco al bajar */
    background-repeat: no-repeat;
}

.home-bg { 
    min-height: 100vh; 
    display: flex;
    flex-direction: column; /* Importante para que el Arduino quede abajo del texto */
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-align: center;
    padding: 40px;
    box-sizing: border-box; /* Evita que el padding rompa el diseño */
}

/* 3. Estilo para el cuadro oscuro que rodea al texto (opcional) */
.content-wrapper {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
}

.imag-home {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../imagenes/Sensor.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
}
/* Contenedor del texto */
.home-content {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 12px;
    text-align: justify;

}

/* Título principal */
.home-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align:center;
}

/* Subtítulo */
.home-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #1f7ea3;
    text-align:center;
}

/* Texto */
.home-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Subtítulo */
.home-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #1f7ea3;
    text-align:center;
}

h5 {
    font-size: 15px;
    margin-bottom: 15px;
}