/* Fondo con imagen */
.home-bg {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../imagenes/Peces.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
}

/* Contenedor del texto */
.home-content {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}

/* Título principal */
.home-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Subtítulo */
.home-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #1f7ea3;
}

/* Texto */
.home-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}
