.sidebar {
    width: 240px;
    background: #ffffff;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    /* --- CAMBIOS PARA QUE SEA INFINITA Y ESTÁTICA --- */
    position: fixed;  
    top: 0;           
    left: 0;           
    height: 100vh;     
    z-index: 1000;     
}
.home-bg {
    /* El margen debe ser igual o un poco mayor al ancho de la sidebar */
    margin-left: 240px; 
    
    /* Asegúrate de que el contenido tenga aire a los lados */
    padding: 40px;
    box-sizing: border-box;
}

.logo {
    padding: 0 20px 30px 20px;
}

.logo h2 {
    font-size: 18px;
    color: #0c6b8a;
}

.logo span {
    font-size: 12px;
    color: #777;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 5px 0;
}

.menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    color: #333;
    font-size: 14px;
    border-radius: 8px;
    margin: 0 10px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #f0f0f0;
}

.menu .active {
    background-color: #1f7ea3;
    color: white;
}
