.table-container {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f8f9fb;
}

th, td {
    padding: 14px 16px;
    text-align: left;
    font-size: 14px;
}

th {
    color: #666;
    font-weight: 600;
}

tbody tr {
    border-top: 1px solid #eee;
    transition: 0.2s;
}

tbody tr:hover {
    background-color: #fafafa;
}

td strong {
    color: #333;
}

.delete {
    color: red;
    cursor: pointer;
    font-size: 16px;
}
